@import url(style.css);

.banner-prod {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../image/producto-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerCapa-prod {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.822);
}

